[z_tilt]
z_positions:
	-60, 168
	345, 168
points:
	40, 168
	330, 168
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075

#[safe_z_home]
#home_xy_position: 60,40
#z_hop: 10                 # Move up 10mm
#z_hop_speed: 5


[screws_tilt_adjust]
screw1: 65,50
screw1_name: frontal izquierdo
screw2: 305,50
screw2_name: front derecho
screw3: 305,288
screw3_name: trasero derecho
screw4: 65,288
screw4_name: trasero izquierdo
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4